*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    background: rgba(0, 0, 0, 0.97);
    animation: head 4s ease 1;
    z-index: 3;
}
.menu{
    display: flex;
    justify-content: center;
    height: 100%;
}
.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-left: 40px;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu li a:hover{
    border-bottom: 2px solid white;
}
.header::before{
     content: "Eternal";
     font-size: 30px;
     position: absolute;
     top: 80px;
     left: 50%;
     margin-left: -130px;
     color: white;
     background: black;
     width: 260px;
     height: 40px;
     text-align: center;
 }
.sh{
     position: absolute;
     top: 15px;
     left: 20px;
     width: 50px;
     height: 50px;
     animation: cube 7s ease;
     animation-delay: 3.6s;
 }
.sh2{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    animation: cube2 7s ease;
    animation-delay: 3.6s;
}
@keyframes head {
    0%{
        top: -200px;
    }
    100%{
        top: 0;
    }
}
@keyframes cube {
     0%{

     }
    50%{
        transform: rotate(360deg);
    }
     100%{
         transform: rotate(360deg);
     }
 }
@keyframes cube2 {
    0%{
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.section{
    position: relative;
}
.cepka1{
    position: absolute;
    top: -1000px;
    left: 3%;
    background-size: cover;
    width: 25px;
    height: 920px;
    animation: cepka 4s ease-out;
    animation-fill-mode:forwards;
    animation-delay: 1.6s;
}
.cepka2{
    position: absolute;
    top: -1000px;
    right: 3%;
    background-size: cover;
    width: 25px;
    height: 920px;
    animation: cepka 4s ease-out;
    animation-fill-mode:forwards;
    animation-delay: 1.6s;
}
.cepkaoff{
    animation: cepkaoff 5s ease;
    animation-fill-mode:forwards;
}
@keyframes cepka{
    0%{

    }
    49%{
        top: -10px;
    }
    100%{
        top: -830px;
    }
}
@keyframes cepkaoff{
    0%{
        top: -830px;
    }

    37%{
        top: -10px;
    }
    100%{
        top: -830px;
        display: block;
    }
}
/*------------------section1----------*/

.section1{
    position: relative;
    bottom: -1550px ;
    left: 0;
    width: 100%;
    height: 600px;
    background: #000000;
    margin-top: 40px;
    animation: section1 2s ease-out;
    animation-delay: 3.4s;
    animation-fill-mode:forwards;
}
.section1off{
    animation: section1off 3s ease;
    animation-fill-mode:forwards;
}
.section1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -180px;
    background: white;
    width: 360px;
    height: 40px;
    text-align: center;
}
.wrapper{
    height: 100%;
    width: 100%;
    z-index: 2;
    background: blue;
    display: none;
}
@keyframes section1{
    0%{
        bottom: -1000px;
    }
    100%{
bottom: 0 ;
    }
}
@keyframes section1off{
    0%{
        bottom: 0;
    }
    5%{
        bottom: -1000px;
    }
    100%{
        bottom: 0;
        display: block;
    }
}
